<div class="row" style="height: 100vh; width: 100%;">
  <div class="col-md-3 side" >
    <p class="text-white ml-4 signin"  >Sign Up</p>
    <div class="text-white ml-4 text">Welcome to <br> Lead Chat App. <br> Connect With Friends and Family</div>
  </div>
  <div class="col-md-9 p-5 main">
    <p>Awesome!</p>
    <div>
      Your account is successfully created, <br> Use the button below to visit the login
      page, <br> Sign In and begin to enjoy seamless chatting experience.
      <div>
         <button routerLink='/signin' type="submit" class="btn signin-btn">SIGN IN</button>
      </div>
    </div>
  </div>
</div>

